# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
.build/

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.swiftpm/
